.section-title {
    padding: 70px 0;
    text-align: center;
}
.section-center {
    width: 60%;
    margin: 0 auto;
}

// Section

.section-table {
    display: block;
}

.section-input, .section-video {
    display: none;
}