@media (max-width: 1200px) {
    .section-center {
        width: 80%;
    }

    html {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 15px;
    }
    .section-center {
        width: 95%;
    }
}