<div class="section-center">
    <div class="section__item">
        <div>
            <div class="section-title">
                <h2>Input</h2>
            </div>

            <div class="section-content">
                
                <form method="post">

                    <div class="form__inputWrapper">
                        <div class="form__item">
                            <label for="email">Email
                                <input name="email" type="email">
                            </label>
                        </div>

                        <div class="form__item">
                            <label for="login">Логин
                                <input name="login" type="text">
                            </label>
                        </div>

                        <div class="form__item">
                            <label for="password1">Пароль
                                <input name="password1" type="password">
                            </label>
                        </div>

                        <div class="form__item">
                            <label for="password2">Повторите пароль
                                <input name="password2" type="password">
                            </label>
                        </div>
                    </div>

                    <div class="form__otherInput">

                        <div>
                            <p>Вы чаще сидите в телефоне или ПК?</p>
                        </div>

                        <div class="otherInput__radioWrapper">
                            <div class="otherInput__radioItem">
                                <label for="answer">
                                    <input type="radio" name="answer">Телефон
                                </label>
                            </div>
                            <div class="otherInput__radioItem">
                                <label for="answer">
                                    <input type="radio" name="answer">ПК
                                </label>
                            </div>
                        </div>

                        <div>
                            <label for="checkbox">
                                <input name="checkbox" type="checkbox">Согласие на обработку персональных данных
                            </label>
                        </div>
                    </div>

                    <div class="form-submit">
                        <button type="submit">Отправить</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>