<div class="section-center">

    <div class="section__item">

        <div>

            <div class="section-title">
                <h2>Калорийность сыров</h2>
            </div>

            <div class="section-content">
                <table>
                    <tr>
                        <td>Продукт</td>
                        <td>Бел, г</td>
                        <td>Жир, г</td>
                        <td>Угл, г</td>
                        <td>Кал, ккал</td>
                    </tr>
                    <tr>
                        <td>Сыворотка твороженая</td>
                        <td>0.8</td>
                        <td>0.2</td>
                        <td>3.5</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Сыр Almette с белыми грибами</td>
                        <td>6.0</td>
                        <td>23.0</td>
                        <td>5.0</td>
                        <td>251</td>
                    </tr>
                    <tr>
                        <td>Сыр Almette с зеленью</td>
                        <td>6.0</td>
                        <td>20.0</td>
                        <td>3.0</td>
                        <td>216</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
</div>