<div class="section-center">
    <div class="section__item">
        <div>
            <div class="section-title">
                <h2>Video | Audio</h2>
            </div>

            <div class="section-content">

                <div class="video__videoWrapper">
                    <div class="video__videoItem">
                        <video src="./public/video/Самые смешные собаки Корги Funny Corgi Dogs.mp4" controls></video>
                    </div>
                </div>

                <div class="video__audioWrapper">

                    <div class="video__audioItem">
                        <audio src="./public/audio/Макс Корж - Жить в кайф.mp3" controls></audio>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>